In [1]:
import numpy as np
from scipy.io import savemat
from statsmodels.formula.api import ols
import statsmodels.api as sm
import pandas as pd

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [20]:
# sf = np.load(r'C:\Users\dmartins\Desktop\mouse_sf.npy', allow_pickle=True)
# tf = np.load(r'C:\Users\dmartins\Desktop\mouse_tf.npy', allow_pickle=True)
sf = np.load(r'C:\Users\dmartins\Desktop\marmo.npy', allow_pickle=True)

In [21]:
df = pd.DataFrame()
for k in range(4):
    _df = pd.DataFrame(sf[k], columns=np.array([1,2,4,8,16]).astype(str))
    _df.insert(0, 'cluster', ['early','late','biphasic','negative'][k])
    df = pd.concat([df, _df])
df.reset_index(inplace=True)

df1 = pd.DataFrame()
i = 0
for ind, row in df.iterrows():
    for _tmpuse in np.array([1,2,4,8,16]).astype(str):
        df1.at[i,'cluster'] = row['cluster']
        df1.at[i,'index'] = row['index']
        df1.at[i,'response'] = row[_tmpuse]
        df1.at[i,'sf'] = _tmpuse
        i += 1

In [22]:
df1[df1['sf']!='16']

       cluster  index  response sf
0        early    0.0       NaN  1
1        early    0.0  1.000000  2
2        early    0.0  0.538967  4
3        early    0.0  0.039409  8
5        early    1.0       NaN  1
...        ...    ...       ... ..
1183  negative   37.0  0.108140  8
1185  negative   38.0  0.762533  1
1186  negative   38.0  0.903384  2
1187  negative   38.0  1.000000  4
1188  negative   38.0  0.000000  8

[952 rows x 4 columns]

In [23]:
df1

       cluster  index  response  sf
0        early    0.0       NaN   1
1        early    0.0  1.000000   2
2        early    0.0  0.538967   4
3        early    0.0  0.039409   8
4        early    0.0  0.000000  16
...        ...    ...       ...  ..
1185  negative   38.0  0.762533   1
1186  negative   38.0  0.903384   2
1187  negative   38.0  1.000000   4
1188  negative   38.0  0.000000   8
1189  negative   38.0       NaN  16

[1190 rows x 4 columns]

In [24]:
model = ols('response ~ C(sf) + C(cluster) + C(sf):C(cluster)', data=df1[df1['sf']!='16']).fit()
print(sm.stats.anova_lm(model, typ=2))

                     sum_sq     df           F         PR(>F)
C(sf)             58.135026    3.0  267.757269  2.332310e-117
C(cluster)         0.594764    3.0    2.739354   4.247357e-02
C(sf):C(cluster)   8.097234    9.0   12.431365   1.820582e-18
Residual          53.121632  734.0         NaN            NaN

In [9]:
tf = np.load(r'C:\Users\dmartins\Desktop\mouse_tf.npy', allow_pickle=True)

In [10]:

df = pd.DataFrame()
for k in range(4):
    _df = pd.DataFrame(tf[k], columns=['low','high'])
    _df.insert(0, 'cluster', ['early','late','biphasic','negative'][k])
    df = pd.concat([df, _df])
df.reset_index(inplace=True)

df1 = pd.DataFrame()
i = 0
for ind, row in df.iterrows():
    for _i in range(2):
        _tmpuse = ['low','high'][_i]
        df1.at[i,'cluster'] = row['cluster']
        df1.at[i,'index'] = row['index']
        df1.at[i,'response'] = row[_tmpuse]
        df1.at[i,'sf'] = _tmpuse
        i += 1

In [11]:
model = ols('response ~ C(sf) + C(cluster) + C(sf):C(cluster)', data=df1).fit()
print(sm.stats.anova_lm(model, typ=2))

                     sum_sq     df           F        PR(>F)
C(sf)             15.116036    1.0  124.487315  2.534542e-26
C(cluster)         0.867920    3.0    2.382571  6.846883e-02
C(sf):C(cluster)   7.814506    3.0   21.451982  3.452601e-13
Residual          70.427264  580.0         NaN           NaN